  <div class="item-lists">
    <% if user_signed_in? %>
      <% @parties.each do |party| %>
        <%= react_component("PartyList", {post: party, tags: party.party_tags, userId: current_user.id, date: party.updated_at.strftime('%Y/%m/%d %H:%M')}) %>
      <% end %>
    <% else %>
      <% @parties.each do |party| %>
        <%= react_component("PartyList", {post: party, tags: party.party_tags, date: party.updated_at.strftime('%Y/%m/%d %H:%M')}) %>
      <% end %>
    <% end %>
  </div>