<%= render 'shared/header' %>

<div class="btn-container">
  <%= link_to new_party_path do %>
    <div class="new-rec-button">
      <p class="new-rec-button-text">投稿</p>
    </div>
  <% end %>
</div>

<div class="container">

  <ul class="item-lists">
    <%= render partial: 'party', collection: @parties %>
  </ul>
</div>