<%= render 'shared/header' %>

<div class="main-container">
  <div class="new-main">
    <div class="title-wrapper">
      <h1 class="show-title">FRIEND</h1>
    </div>
    <%= render partial: 'form' %>
  </div>
</div>