<%= render 'shared/header' %>

<div class="container">
  <h1 class="list-title-text">// SCOUT RECRUITMENT</h1>
  <div class="new-main">
    <div class="title-wrapper">
      <h1 class="show-title">スカウト募集</h1>
    </div>
    <%= render partial: 'form' %>
  </div>
</div>