@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");

.btn-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: flex;
}

.new-rec-button {
  margin-left: 1vh;
  padding: 30px 10px;
  width: 80px;
  height: 80px;
  background-color: #ff4465;
  color: #f9f9f9;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-rec-button-text {
  font-family: "Ramabhadra", sans-serif;
  color: #f9f9f9;
}
