.btn-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.new-rec-button {
  padding: 30px 10px;
  width: 80px;
  height: 80px;
  background-color: #ff4465;
  color: #f9f9f9;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-rec-button-text {
  color: #f9f9f9;
}
