a {
  text-decoration: none;
}

.container {
  padding: 4vh 0;
  min-height: 100vh;
  min-width: 500px;
  background-color: #101922;
  background: linear-gradient(to bottom right, #101922, #ddd);
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item-lists {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-lists > .list {
  width: 36vh;
  height: 100%;
  margin: 16px;
  background-color: #cf3642;
  border: #cf3642 solid 2px;
  border-radius: 8px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}
.item-lists > .list:hover {
  border: #fff solid 2px;
}

.item-title {
  width: 100%;
  color: #ece8e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  margin-right: 8px;
  padding: 2px 4px;
  font-size: 8px;
  border: #ece8e1 solid 1px;
  border-radius: 4px;
}

.item-info {
  background-color: #ece8e1;
  border: #cf3642 solid 2px;
  border-radius: 6px;
  color: #3f3f3f;
}

.item-title h3 {
  padding: 8px 16px;
}

.item-game-id {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: #cf3642;
}

.item-text {
  padding: 0 16px 8px;
  text-decoration: none;
  word-break: break-all;
}
