a {
  text-decoration: none;
}

.item-contents {
  padding: 4vh 0;
  min-height: 100vh;
  min-width: 500px;
  background-color: #101922;
  font-size: 14px;
  align-items: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.item-lists {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-lists > .list {
  width: 30vh;
  height: 100%;
  margin: 16px;
  background-color: #cf3642;
  border: #cf3642 solid 2px;
  border-radius: 8px;
}
.item-lists > .list:hover {
  border: #fff solid 2px;
}

.item-title {
  width: 100%;
  color: #ece8e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-info {
  background-color: #ece8e1;
  border: #cf3642 solid 2px;
  border-radius: 6px;
  color: #3f3f3f;
}

.category {
  margin-right: 8px;
  padding: 2px 4px;
  font-size: 8px;
  border: #ece8e1 solid 1px;
  border-radius: 4px;
}

.item-title h3 {
  padding: 8px 16px;
}

.item-game-id {
  padding: 8px 12px;
  color: #cf3642;
}

.item-text {
  padding: 0 16px 8px;
  text-decoration: none;
  word-break: break-all;
}

.login-btn {
  margin-top: 2vh;
  padding: 16px 80px;
  border: #ff4655 solid 1px;
  border-radius: 6px;
  color: #ebebeb;
  background-color: #ff4655;
  text-decoration: none;
}
