a {
  text-decoration: none;
}

.item-contents {
  min-height: 100vh;
  background-color: #101922;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.new-rec-button {
  padding: 30px 10px;
  border-radius: 4px;
  background-color: #ff4465;
  color: #fff;
}

.item-lists {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item-lists > .list {
  width: 30vh;
  margin: 16px;
}

.item-info {
  width: 100%;
  background-color: #ece8e1;
  border: #cf3642 solid 2px;
  border-radius: 6px;
  color: #3f3f3f;
}

.item-info:hover {
  border: #fff solid 2px;
}

.item-title {
  background-color: #cf3642;
  color: #ece8e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.border-line-container {
  display: flex;
  justify-content: center;
}

.border-line {
  padding: 5px;
  width: 30%;
  border-bottom: #ff4465 solid 2px;
}

.category {
  margin-right: 8px;
  padding: 2px 4px;
  font-size: 8px;
  border: #ece8e1 solid 1px;
  border-radius: 4px;
}

.item-title h3 {
  padding: 8px 16px;
}

.item-game-id {
  padding: 8px 12px;
  color: #cf3642;
}

.item-text {
  height: 100%;
  padding: 0 16px 8px;
  text-decoration: none;
  word-break: break-all;
}
