.new-main {
  padding: 3vh 4vh;
  width: 500px;
  background-color: #11111111;
  border: #fff solid 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.new-item-title {
  margin-bottom: 2vh;
  padding: 4px 8px;
  text-align: center;
  border: #cf3642 solid 2px;
  border-radius: 8px;
  font-size: 24px;
}

.new-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.indispensable {
  background: #ff4465;
  margin-left: 8px;
  padding: 3px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  margin-top: 2vh;
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.text-input {
  width: 80%;
  height: 42px;
  padding: 8px 12px;
  border: none;
  background-color: #ffffff11;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  overflow: hidden;
}

.text-input:focus {
  background-color: #fff;
  color: #111;
  border: #111 solid 3px;
  border-radius: 6px;
}

.text-box {
  height: 160px;
  overflow: auto;
}

.new-item-text {
  width: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
}

.submit-btn-contents {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2vh 0;
}

.submit-btn {
  background: #ff4465;
  border: 1px solid #ff4465;
}

.back-btn {
  border: 1px solid #aaa;
}
