.show-title h3 {
  padding: 8px 16px;
}

.show-main {
  padding: 3vh 4vh;
  width: 400px;
  background-color: #11111111;
  border: #fff solid 1px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.show-title {
  padding: 4px 8px;
  text-align: center;
  border: #ff4465 solid 2px;
  border-radius: 8px;
  font-size: 24px;
}

.label-text {
  font-size: 8px;
}
.show-item {
  font-size: 20px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.show-about-bg {
  padding: 8px;
  background-color: #ffffff11;
  border-radius: 8px;
  word-break: break-all;
}

.show-buttons {
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-top: 24px;
  padding: 16px 64px;
  border-radius: 4px;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
}

.edit-btn {
  border: #ff4655 solid 1px;
  background-color: #ff4655;
}

.delete-btn {
  border: #aaa solid 1px;
}
