.show-title h3 {
  padding: 8px 16px;
}

.show-main {
  padding: 3vh 4vh;
  width: 480px;
  background-color: #11111111;
  border: #ebebeb55 solid 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.show-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.show-title {
  width: 60%;
  border-bottom: #ff4465 solid 4px;
  font-family: "Anton", sans-serif;
  font-size: 36px;
  text-align: center;
}

.label-text {
  width: auto;
  font-size: 8px;
  border-bottom: #ffffff11 solid 1px;
}

.show-item {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.game-id {
  color: #ebebeb;
}

.show-about-bg {
  padding: 8px;
  background-color: #ffffff11;
  border-radius: 8px;
  word-break: break-all;
}

.show-buttons {
  width: 40%;
  margin-bottom: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag-container {
  margin: 8px 0 0;
  padding: 8px 10px 0;
}

.tag {
  margin: 2px 2px;
  padding: 1px 4px;
  display: inline-block;
  background-color: #ff3d4bbb;
  border-radius: 4px;
  font-size: 13px;
  word-break: break-all;
}
