/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  color: #ebebeb;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  padding: 4vh 64px;
  min-height: 100vh;
  min-width: 500px;
  background: linear-gradient(to bottom right, #101922, #555);
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-flash-message {
  margin-top: 2vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: red;
}

.pagination {
  justify-content: center;
}
