.btn,
a.btn {
  margin-top: 24px;
  height: 56px;
  line-height: 56px;
  width: 80%;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  color: #ebebeb;
}

.btn:hover {
  cursor: pointer;
}

// registration buttons
.register-btn {
  background-color: #ff4655;
  border: #ff4655 solid 1px;
}

.sns-twitter {
  width: 300px;
  background-color: #00acee;
}
.sns-twitter a,
.fa-twitter {
  color: #ebebeb;
}

.sns-google {
  width: 300px;
  background-color: #ebebeb;
}

.sns-google a,
.fa-google {
  color: gray;
}

.login-btn {
  border: #ff4655 solid 1px;
  border-radius: 6px;
  background-color: #ff4655;
}

// new item buttons

.submit-btn {
  background: #ff4655;
  border: 1px solid #ff4655;
}

.back-btn {
  border: 1px solid #aaa;
}

// show item buttons

.edit-btn {
  border: #ff4655 solid 1px;
  background-color: #ff4655;
}

.delete-btn {
  border: #aaa solid 1px;
}
