.login-wrapper {
  padding: 3vh 4vh;
  width: 400px;
  background-color: #11111111;
  border: #fff solid 1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  padding: 4px 8px;
  text-align: center;
  font-size: 24px;
  border: #cf3642 solid 2px;
  border-radius: 8px;
}

.login-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.login-btn {
  border: #ff4655 solid 1px;
  border-radius: 6px;
  background-color: #ff4655;
}
