.login-wrapper {
  padding: 3vh 4vh;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  min-width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-title {
  padding: 4px 8px;
  text-align: center;
  font-size: 24px;
  background-color: #cf3642;
  border: #ebebeb solid 2px;
  border-radius: 8px;
  color: #fff;
}

.login-group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.login-btn {
  margin-top: 2vh;
  padding: 16px 80px;
  border: #ff4655 solid 1px;
  border-radius: 6px;
  background-color: #ff4655;
  text-decoration: none;
}
