.login-main {
  width: 100%;
  min-width: 800px;
  height: 900px;
  background-color: #ece8e1;
  display: flex;
  justify-content: center;
}

.login-form-wrap {
  margin-top: 50px;
  width: 50%;
  height: 500px;
  background-color: white;
  padding-bottom: 70px;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #ff4655;
  border: 1px solid #ff4655;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}
