.registration-wrapper {
  padding: 3vh 4vh;
  width: 400px;
  background-color: #11111111;
  border: #ebebeb55 solid 1px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.registration-title {
  padding: 4px 8px;
  text-align: center;
  font-size: 24px;
  border: #cf3642 solid 2px;
  border-radius: 8px;
  color: #fff;
}

.form-group {
  margin-top: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-btn-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.register-btn {
  background-color: #ff4655;
  border: #ff4655 solid 1px;
}

.sns-twitter {
  width: 300px;
  background-color: #00acee;
}

.sns-google {
  width: 300px;
  background-color: #ebebeb;
}

.sns-google a,
.fa-google {
  color: gray;
}
