.gender-date-group {
  display: flex;
  justify-content: left;
  word-break: keep-all;
  font-size: 16px;
}

.item-birthday {
  margin-right: 16px;
}

.img-desk {
  margin: 20px 0;
  width: 100%;
  height: 100%;
}
