.profile-main {
  margin: 4vh auto;
  padding: 3vh 4vh;
  width: 300px;
  background-color: #ebebeb;
  border-radius: 8px;
  min-width: 450px;
}

.profile-title {
  padding: 4px 8px;
  text-align: center;
  font-size: 24px;
  background-color: #cf3642;
  border: #ebebeb solid 2px;
  border-radius: 8px;
  color: #fff;
}

.label-text {
  font-size: 8px;
}
.profile-item {
  font-size: 20px;
  margin-top: 16px;
}

.gender-and-birthday-container {
  display: flex;
}

.item-birthday {
  margin-left: 2vh;
}

.profile-bg {
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
}
